.cardMain {
  min-width: 284px;  
  padding: 16px;
  display: flex;
  flex-direction: column;
  background: var(--white);
  gap: 8px;
  align-items: start;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
