.boardMain {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;

}
.subheading {
  color: #5a5a65;
  font-size: 16px;
  font-weight: 400;
}
.boardMain h2 {
  font-weight: 700;
  font-size: 32px;
}

.board{
  background-color: wheat;
  justify-self: center;
}