.ColumnMain {
  padding: 12px;
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 140px;
  width: 100%;
  max-width: 150px;
}

.dailog {
  /* margin: auto auto auto auto; */
 
  width: 300px;
  border: none;
  margin: auto auto auto auto;
  padding: auto auto auto auto;
  filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
}

.textInput {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  padding: auto auto auto auto;
}
.dailogBox {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-self: center;
  padding: 24px;
  gap: 24px;
}
