.App {
  text-align: center;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --white: #fff;
  --offwhite: #f8f8f8;
  --black: #212121;
  --LightGrey: #e1e4e8;
}

.input {
  border-top: none;
  border-left: none;
  border-right: none;
  min-height: 30px;
}
.input:focus-visible {
  border-top: none;
  border-left: none;
  border-right: none;
  height: 12px;
}
.input:active {
  border: none;
}

.button {
  width: 100px;
  height: 24px;
  border-radius: 8px;
  border: none;
  background-color: var(--offwhite);
}
