.boardMain {
  background-color: var(--offwhite);
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px;
  justify-content: center;
  align-items: center;
}
.column {
  display: flex;
}
